.tableSubComponentContainer {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.emptyTable {
   display: inline-block;
   margin: 43px 0 5px;
   padding-top: 50px;
   font-size: 13px;
   white-space: nowrap;
   background: url('/src/assets/image/pic_wg_nodata.png') no-repeat center top;
}
